<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Reistijden</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/bootstrap-glyphicons.css" rel="stylesheet"/>
        <link href="css/leaflet.css" rel="stylesheet"/>
        <link href="css/reistijden.css" rel="stylesheet"/>
    </head>

    <body>
        <div ng-controller="ReistijdenController as controller">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand"> Reistijden Gemeente Amsterdam</div>
                        <ul class="nav">
                            <li ng-class="{active: controller.isTabSelected(1)}"><a href ng-click="controller.selectTab(1)">Kaart</a></li>
                            <!--<li ng-class="{active: controller.isTabSelected(2)}"><a href ng-click="controller.selectTab(2)">Routes</a></li>-->
                        </ul>
                        <form class="navbar-form pull-left form-search">
                            <div class="input-append">
                                <input id="search" type="text" ng-model="selectedLocation" autocomplete="off" placeholder="Zoek route" limit="5" typeahead="traject.location for traject in trajecten | filter: $viewValue | limitTo:12" class="form-control" typeahead-on-select='open(controller.search())'>
                                <button id="searchButton" class="btn" ng-click="controller.open(navbar.search())"><span class="glyphicon glyphicon-search"></span> Zoek</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel" ng-show="controller.isTabSelected(1)">
                <div id="map"></div>
            </div>

            <!--<div class="panel" ng-show="controller.isTabSelected(2)" >
                <h4>Routes</h4>
                <ul ng:repeat="traject in trajecten">
                    <li>{{traject._id}}</li>
                </ul>
                <br />
            </div>-->

            <div id="modal">
                <script type="text/ng-template" id="modalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{"Locatie: " + traject.location }}</h3><h5>Reistijd/Snelheid afgelopen 60 minuten</h5>
                    <h5>Actuele reistijd: {{actueleReistijd}} secondes</h5>
                </div>
                <div class="modal-body">
                    <div ac-chart="chartType" ac-data="data" ac-config="config"></div>
                    <p>&#160;</p>
                        <table class="reistijdentable">
                            <tr><td>Tijdstip</td><td>Gemiddelde snelheid (km/h)</td><td>Reistijd (seconden)</td></tr>
                            <tbody ng:repeat="measurement in measurements">
                            <tr><td>{{measurement.timestamp.$date | date: 'M/d/yy HH:mm:ss ' }}</td><td>{{measurement.velocity}}</td><td>{{measurement.traveltime}}</td></tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </script>
            </div>
        </div>

        <script src="js/jquery-2.1.1.min.js"></script>

        <script src="js/angular.min.js"></script>
        <script src="js/angular-charts.min.js"></script>
        <script src="js/d3.min.js"></script>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>

        <script src="js/leaflet.js"></script>

        <script src="js/reistijden.js"></script>
    </body>
</html>