<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Reistijden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet"/>
    <link href="css/leaflet.css" rel="stylesheet"/>
    <link href="css/reistijden.css" rel="stylesheet"/>
</head>

<body>
<div id="modalc" ng-controller="PanelController as panel">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Reistijden Gemeente Amsterdam</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li ng-class="{active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Kaart</a></li>
                        <li ng-class="{active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Routes</a></li>
                    </ul>
                </div>
                <form class="navbar-form pull-left form-search">
                    <div class="input-append">
                        <input id="search" data-provide="typeahead" data-items="4" placeholder="Zoek route" type="text" class="search-query" autocomplete="off">
                        <button class="btn">Zoek</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modalC" ng-controller="ModalController">
    <div class="panel" ng-show="panel.isSelected(1)">
        <div id="map"></div>
    </div>

    <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Routes</h4>
            <script type="text/ng-template" id="dialogContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{selectedTraject}}</h3>
                </div>
                <div class="modal-body">
                  <p>Here a visualization of the selected traject</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>

            <button class="btn btn-default" ng-click="open()">Open dialog</button>
        <div id="routeList"></div>
      </div>
    </div>
</div>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/angular1.2.20.js"></script>
<script src="js/reistijdenAngular.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/reistijden.js"></script>
</body>
</html>
